.fadeInUp {
    -webkit-animation-duration: 1.2s !important; /* Safari 4.0 - 8.0 */
    animation-duration: 1.2s !important;
    -webkit-animation-delay: 0.3s; /* Safari 4.0 - 8.0 */
}

.zoomIn {
    -webkit-animation-duration: 0.4s !important; /* Safari 4.0 - 8.0 */
    animation-duration: 0.4s !important;
    -webkit-animation-timing-function: ease-out; /* Safari 4.0 - 8.0 */
    animation-timing-function: ease-out;
}

.typed {
  -webkit-animation-delay: 3.3s; /* Safari 4.0 - 8.0 */
    animation-delay: 3.3s;
}

.title {
  -webkit-animation-delay: 2.7s; /* Safari 4.0 - 8.0 */
    animation-delay: 2.7s;
}

.left-menu-animated {
  animation-fill-mode: forwards;
  animation-name: left-menu-animation, left-menu-border-animation;
  animation-duration: 1s, 1s;
  animation-iteration-count: 1, 1;
  animation-delay: 3.3s, 3.5s;
  timing-function: ease-out, ease-out;
}

.li1 {
    -webkit-animation-delay: 3.7s; /* Safari 4.0 - 8.0 */
      animation-delay: 3.7s;
}

.li2 {
    -webkit-animation-delay: 3.9s; /* Safari 4.0 - 8.0 */
      animation-delay: 3.9s;
}

.li3 {
    -webkit-animation-delay: 4.1s; /* Safari 4.0 - 8.0 */
      animation-delay: 4.1s;
}
