body {
  background-color: #1c1f25 !important;
}

.container {
  max-width: 900px !important;
  margin-top: 100px;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.window {
  position: absolute;
  background: #00a7ff;
  color: white;
  width: 3px;
  height: 3px;
  max-height: 700px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  max-width: 1000px;
  transform: translate(-50%, -50%);
  left: 50%;
}

.window-full {
  position: absolute;
  background: #2a2e38;
  color: white;
  width: 1000px;
  height: 700px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  transform: translate(-50%, 0%);
  left: 50%;
}

.top-bar {
  height: 0px;
  max-height: 22px;
  background: linear-gradient(#e3e3e3 , #cecece);
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  color: black;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-left: 10px;
  text-align: center;
}

.top-bar-full {
  height: 22px;
  background: linear-gradient(#e3e3e3 , #cecece);
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  color: black;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-left: 10px;
  text-align: center;
}

.title {
  font-size: 14px;
  vertical-align: top;
}

.top-bar-title {
  width: 100%;
  text-align: center;
}

.circle {
  border-radius: 50px;
  width: 14px;
  height: 14px;
  margin-left: 2px;
  float:left;
  display: inline-block;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: inset 1px 1px 1px rgba(255,255,255,0.2);
  margin-left: 5px;
  margin-top: 4px;
}

.circle:hover {
  filter: brightness(90%);
}

.icon {
  height: 20px;
  padding-right: 5px;
}

ul {
  padding-left: 0px;
}

li {
  list-style-type: none;
  margin-bottom: 8px;
}

.active img {
   -webkit-filter: brightness(150%);
   filter: brightness(150%);
}

.inactive {
  color: #777;
  transition: 0.3s all ease;
}

.inactive:hover {
  color: #fdb024;
  text-decoration: none;
}

.active {
  color: #afafaf;
  transition: 0.3s all ease;
}

.active:hover {
  color: #fdb024;
  text-decoration: none;
}

.left-menu {
    float: left;
    height: calc(100% - 22px);
    background: #21252b;
    font-family: "Iosevka";
    font-size: 17px;
    color: #999;
    width: 0px;
    -webkit-font-smoothing: antialiased;
    border-bottom-left-radius: 5px;
}

.left-menu-full {
    float: left;
    height: calc(100% - 22px);
    background: #21252b;
    font-family: "Iosevka";
    font-size: 17px;
    color: #999;
    -webkit-font-smoothing: antialiased;
    border-bottom-left-radius: 5px;
    width: 180px;
    padding: 15px;
    margin-right: 20px;
}



.c-red {
  background-color: #fc4646;
    -webkit-animation-delay: 2.3s; /* Safari 4.0 - 8.0 */
      animation-delay: 2.3s;
}

.c-yellow {
  background-color: #fdb024;
    -webkit-animation-delay: 2.4s; /* Safari 4.0 - 8.0 */
      animation-delay: 2.4s;
}

.c-green {
  background-color: #28c331;
    -webkit-animation-delay: 2.5s; /* Safari 4.0 - 8.0 */
      animation-delay: 2.5s;
}

.user {
  font-size: 100px;
  font-family: Merriweather;
}

.window-animation {
  animation-fill-mode: forwards;
  animation-name: window-up, window-ver, window-hor;
  animation-duration: 1s, 0.5s, 0.5s;
  animation-iteration-count: 1, 1, 1;
  animation-delay: 0s, 1s, 1.5s;
  timing-function: ease-out, ease-out, ease-out;
}

.top-bar-animation {
  animation-fill-mode: forwards;
  animation-name: top-bar-slide;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-delay: 1.9s;
  timing-function: ease-out;
}

@-webkit-keyframes left-menu-animation {
  from  {width: 0px;}
  to    {width: 180px; padding: 15px; margin-right: 20px; }
}

@-webkit-keyframes left-menu-border-animation {
  from {border-right: 1px solid transparent;}
  to {border-right: 1px solid #1e1f25;}
}

@-webkit-keyframes top-bar-slide {
  from  {height: 0%;}
  to    {height: 100%;}
}

@-webkit-keyframes window-up {
  from  {opacity: 0; top: 100%;}
  to    {opacity: 1; top: 50%;}
}

@-webkit-keyframes window-hor {
  0%   {background: #00a7ff; width: 0%;}
  40%  {background: #2a2e38;}
  100% {background: #2a2e38; width: 100%;}
}

@-webkit-keyframes window-ver {
  from  {height: 0%;}
  to    {height: 100%;}
}

.typed::after {
	content: '|';
	display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

.typed-cursor{
   opacity: 0;
	display: none;
}
/*Custom cursor animation*/
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.window-text {
  color: #A6ADB9;
  font-family: 'Iosevka';
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  padding: 10px;
}

.italic {
  font-style: italic;
}

.nohref {
  text-decoration: none;
  color: #A6ADB9;
}
.purple {
  color: #C774E0;
}

.gray {
  color: #5C6370;
}

.orange {
  color: #D39A61;
}

.yellow {
  color: #e2b06e;
}

.blue {
  color: #51B6C3;
}

.green {
  color: #96C475;
}
