body {
  background-color: #f7f7f7 !important;
}

.navbar {
  height: 8em;
  background-color: #4d1a70 !important;
  font-family: "Patua One";
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#brand {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar .container .navbar-brand {
  font-family: "Nunito";
  font-size: 2.4em;
}

.shrink {
  height: 3em;
}

.shrink .navbar-brand {
  font-size: 1.3em !important;
}

.nav-item {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.shrink-nav {
  font-size: 1em !important;
}

.container {
  max-width: 65em !important;
}

.nav-item {
  font-size: 2em;
  font-family: "Nunito";
}
