body,
html {
    -webkit-font-smoothing: antialiased;
    background: #210b44 !important;
    color: #c6c9e2;
    font-family: "Pixel", monospace;
    font-weight: 400;
    height: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #FFDA45;
}

a:hover {
    color: #FF8142;
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 1000px;
}

.center {
    text-align: center;
}

.block {
    width: calc(100% - 70px);
    border: 6px solid #AB1E65;
    padding: 0px 20px 16px 20px;
    margin: 10px 0px 20px 0px;
    display: inline-block;
}

/* HEADING */
.block::before {
    color: #cb2578;
    background: #210b44;
    content: attr(data-heading);
    font-size: 32px;
    position: relative;
    top: -21px;
    margin: 0px;
    display: inline-block;
    padding: 0px 10px;
}

.block .small {
    font-family: "Opirus", monospace;
    font-size: 22px;
    color: #8b8d9f;
}

.block .small a {
    color: #8b8d9f;
    text-decoration: underline;
}

.block .small a:hover {
    color: #FF8142;
}

.block p {
    display: block;
    position: relative;
    top: -10px;
    font-size: 26px;
    line-height: 26px;
    margin: 0;
}

.social a {
    font-size: 32px;
    margin-right: 14px;
    margin-bottom: 16px;
    display: inline-block;
    padding: 0;
}

.social-m a {
    font-size: 26px;
    margin-right: 12px;
    margin-bottom: 14px;
    display: inline-block;
    padding: 0;
}

.image {
    width: 90%;
}

.image-full {
    width: 100%;
    margin-bottom: 10px;
}

.image-btn {
    height: 80px;
}

.image-btn:hover {
    transform: scale(1.1);
}

.ending {
    font-size: 32px;
    color: #AB1E65;
}

.copyright {
    font-family: "Opirus", monospace;
    font-size: 23px;
    text-align: center;
    margin-top: 30px;
    color: #461e85;
}
#Jesus {
    color: #461e85 !important;
    text-decoration: underline;
}

@media only screen and (max-width: 767px) {

    .block {
        width: auto;
    }

    .image {
        width: 100%;
    }
    .social a {
        font-size: 27px;
        margin-right: 14px;
        margin-bottom: 22px;
        display: inline-block;
        padding: 0;
    }
    .social-m a {
        font-size: 27px;
        margin-right: 14px;
        margin-bottom: 22px;
        display: inline-block;
        padding: 0;
    }
}
