body,
html {
    -webkit-font-smoothing: antialiased;
    background: #210b44 !important;
    color: #c6c9e2;
    font-family: "Opirus", monospace;
    font-weight: 400;
    height: 100%;
}

a {
    cursor: pointer;
    color: #FFDA45;
}

a:hover {
    color: #c7a82f
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 1000px;
}

.center {
    text-align: center;
}

.block {
    width: calc(100% - 70px);
    border: 6px solid #AB1E65;
    padding: 0px 20px 0px 20px;
    margin: 10px 0px 20px 0px;
    display: inline-block;
    cursor: default;
}

.block:hover {
    border-color: #d02a7d;
}

/* HEADING */
.block::before {
    font-family: "Pixel", monospace;
    color: #AB1E65;
    background: #210b44;
    content: attr(data-heading);
    font-size: 32px;
    position: relative;
    top: -21px;
    margin: 0px;
    display: inline-block;
    padding: 0px 10px;
}

.block:hover::before {
    color: #d02a7d !important;
}

.block .small {
    font-family: "Opirus", monospace;
    font-size: 22px;
    color: #8b8d9f;
}

.block .small a {
    color: #8b8d9f;
}

.tags {
    color: #8b8d9f;
    text-transform: uppercase;
    font-size: 26px !important;
}

.block .small a:hover {
    color: #FF8142;
}

.block p {
    display: block;
    position: relative;
    top: -10px;
    font-size: 36px;
    line-height: 30px;
    margin: 0px 0px 10px 0px;
}

.social {
    display: block;
    position: relative;
    top: -10px;
    font-size: 26px;
    line-height: 26px;
}

.social a {
    font-size: 36px;
    margin-right: 16px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 0;
    text-transform: uppercase;
}

.social-small a {
    font-size: 26px;
    margin-right: 16px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 0;
}

.image {
    width: 90%;
}

.image-s {
    width: 60%;
}

.image-full {
    width: 100%;
    margin-bottom: 10px;
}

.image-btn {
    height: 90px;
}

h1 {
    font-size: 3rem;
    font-family: "Pixel", monospace;
    color: #d02a7d;
}

.block h2 {
    font-family: "Pixel", monospace;
    color: #c6c9e2;
    font-size: 2.5rem;
    margin: 0;
}

.block h3 {
    font-size: 2rem;
    margin: 0px 0px 20px 0px;
}

.image-btn.large {
    height: 130px;
}

.image-btn:hover {
    transform: scale(1.1);
}

.ending {
    font-size: 32px;
    color: #AB1E65;
}

.copyright {
    font-family: "Opirus", monospace;
    font-size: 23px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    color: #461e85;
}

#Jesus {
    color: #461e85 !important;
    text-decoration: underline;
}

.with-icons {
    padding-top: 6px;
}

.with-icons a {
    text-decoration: none;
}

#pixel-me {
    cursor: pointer;
}

#pixel-me:hover {
    transform: scale(1.05);
}

@media only screen and (max-width: 767px) {
    .hidden-m {
        display: none !important;
    }

    .block {
        width: auto;
    }

    .block h2 {
        font-size: 2rem;
    }

    .image {
        width: 100%;
    }

    .image-s {
        width: 90%;
    }

    .social a {
        font-size: 36px;
        margin-right: 8px;
        margin-bottom: 20px;
        display: inline-block;
        padding: 0;
    }
}
